.header {
    justify-content: space-between;
}

.header-content__right {
    margin-right: 50px;
}

.header__nav-inner-items {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.header__nav-inner-item {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
