.header {
    justify-content: space-between;
}

.header-content__right {
    margin-right: 50px;
}

.header__nav-inner-items {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.header__nav-inner-item {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.content {
    text-align: center;
}