.content {
    text-align: center;
}

.content__title {
    font-size: 25px;
    margin: 0;
    padding-top: 60px;
    font-weight: bold;
}

.content__inner-item-name {
    margin: 25px 0 0 0;
}

.content__inner-item-other {
    margin: 5px 0 0 0;
}

input {
    height: 45px;
    width: 400px;
    background: none;
    border: solid 2px #a9a9a9;
    border-radius: 5px;
    padding-left: 20px;
    color: #808080;
    font-weight: bold;
    font-size: 13px;
}

.error-message {
    margin: 0;
    height: 25px;
}

.error-message span {
    display: inline-block;
    color: red;
    margin-left: 35px;
    font-size: 12px;
    line-height: 25px;
    width: 390px;
    text-align: left;
}

.content__inner-button-register button {
    margin-top: 25px;
    height: 45px;
    width: 400px;
    background: #0000ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.guide {
    color: #a9a9a9;
    margin: 25px 0 0;
    font-size: 13px;
}

.login {
    text-decoration: none;
    color: #0000ff;
    font-size: 13px;
}